body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EEEEEE;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: minmax(100%, 350px);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container-search{
  width: 100%;
  background-color: #ffe600;
  display: grid;
  grid-template-columns: 10% 80% 10%;
  justify-content: center;
  padding: 10px;
}

.container-interno{
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 80px auto;
  justify-content: center;
  align-items: center;
}
.container-interno > .search > form {
  display: grid;
  grid-template-columns: auto 80px;
}
.container-interno > .search >form > input{
  width: 800px;
  padding: 8px;
  font-size: 18px;
  border: none;
  border-radius: 2px;
}
.container-interno > .search >form > .actions{
  grid-column: 2/3;
}
.container-interno > .search >form > .actions > button{
  width: 50px;
  height: 37px;
  border:none;
  
}
